.dollar-group,
.person-group {
  background-color: #F2F8FB;
}
.btn-main-color {
  padding: 0.5em 2em;
  border: none;
  color: white;
  width: 31.3%;
  font-size: larger;
  background-color: var(--Very-dark-cyan);
}
.btn-main-color:hover {
  color: var(--Very-dark-cyan);
  background-color: var(--Light-grayish-cyan);
}
.main-color {
  background-color: var(--Very-dark-cyan);
}
.quantity {
  font-size: 4em;
  color: var(--Strong-cyan);
  overflow-x: auto;
  max-width: 16rem;
}


.quantity::-webkit-scrollbar {
  width: 1em;
}
 
.quantity::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.quantity::-webkit-scrollbar-thumb {
  background-color: var(--Light-grayish-cyan);
  outline: 1px solid var(--Very-dark-cyan);
}

.dollar-symbol{
  font-size: large;
  color: #9EBBBD;
}

.btn-main-color{
  font-weight: bold;
}
.dollar-symbol,
.person-symbol {
  padding: 0.5em;
}

.input {
  text-align: right;
  color: var(--Very-dark-cyan);
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.input-costum {
  font-weight: bold;
  border: none;
  color: var(--Very-dark-cyan);
  background-color: var(--Light-grayish-cyan);
}
.input:focus {
  box-shadow: none;
  outline: 0;
}

.input-costum::placeholder {
  color: inherit;
}
.containerData{
  width: 400px;
  height: 400px;
}
.btn-reset {
  display: block;
  width: 100%;
  background-color: #0D676D;
  color: var(--Very-dark-cyan);
  border: none;
  font-weight: bold;
  padding: 0.5em;
  text-transform: uppercase;
}
.btn-reset:hover {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.btn-box {
  justify-content: space-between;
  width: 26vw;
}
@media screen and (max-width: 768px) {
    .p-6{
        padding: 1em;
        width: 100%;
    }

    .containerData{
      height: auto;
      width: auto;
    }

    .quantity {
      word-break: break-word;
    }

    .btn-box{
        width: auto;
    }
    .btn-main-color {
        width: 46.3%;
    }
    .main_container{
      padding: 1.25rem 0 0 0;
    }
}
