.dollar-group,
.person-group {
  background-color: var(--Grayish-cyan);
}
.btn-main-color {
  padding: 0.5em 2em;
  border: none;
  color: white;
  width: 31.3%;
  background-color: var(--Very-dark-cyan);
}
.btn-main-color:hover {
  color: var(--Very-dark-cyan);
  background-color: var(--Light-grayish-cyan);
}
.main-color {
  background-color: var(--Very-dark-cyan);
}
.quantity {
  font-size: 4em;
  color: var(--Strong-cyan);
  word-wrap: break-word;
  max-width: 16rem;
}
.dollar-symbol,
.person-symbol {
  padding: 0.5em;
}

.input {
  text-align: right;
  color: var(--Very-dark-cyan);
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.input-costum {
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
}
.input:focus {
  box-shadow: none;
}

.input-costum:focus {
  text-align: right;
  outline: 1px solid var(--Strong-cyan);
}

.input-costum::placeholder {
  color: white;
}

.btn-reset {
  display: block;
  width: 100%;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  border: none;
  font-weight: bold;
  padding: 0.5em;
}

.btn-box {
  justify-content: space-between;
  width: 26vw;
}
@media screen and (max-width: 768px) {
    .p-6{
        padding: 1em;
        width: 100%;
    }

    .btn-box{
        width: auto;
    }
    .btn-main-color {
        width: 46.3%;
    }
}
